* {
   box-sizing: border-box;
}
html {
   font-family: Verdana;
   color: #555;
   font-size: 16px;
}
h1 {
   color: white;
   text-align: center;
   background-image: linear-gradient(60deg, red, orange);
}
.main {
   display: flex;
   min-height: 100vh;
   min-width: 100vw;
}
.footer {
   background-color: #e5e5e5;
   padding: 0.5em;
   text-align: center;
}
.navigation {
   padding: 0.5em;
   width: 20%;
}
.section {
   padding: 0.5em;
   width: 60%;
   font-size: 1.25em;
}
.news {
   padding: 0.5em;
   width: 20%;
}
.units-list {
   line-height: 1.75em;
}
.css-units {
   color: #8b0000;
   background-color: #e5e5e5;
   font-size: 1.125em;
   font-weight: 700;
}
.section__header {
   text-align: center;
   font-size: 5vw;
}
.nav-list {
   padding: 0;
   list-style-type: none;
}
.nav-list-item {
   background-color: #808080;
   color: white;
   margin-bottom: 0.5em;
   line-height: 2em;
}
.nav-list-link {
   padding-left: 0.5em;
   padding-right: 0.5em;
   color: white;
   text-decoration: none;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}